<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">На главную</a>
    <h1>Список детей</h1>

    <p>ID : Имя : Фамилия</p>
    <% children.forEach(child=> { %>
    <li><%= child.id %> <%= child.name %> <%= child.surname %></li>
    <% }) %>
    <a href="/children/add">Добавить ребенка</a>
  </body>
</html>
